@import "variables";

.Checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  input {
    display: none;

    &:checked + .box {
      background-color: $color-primary;
    }
  }

  .box {
    width: 16px;
    height: 16px;
    border: 2px solid $color-font;
    background-color: $color-font;
    margin-right: 8px;
    margin-top: 4px;
    flex-shrink: 0;
  }

  .label {
  }
}
