@import "variables";

.FacultyList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  .topicContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 24px;

    .topic {
      color: $color-primary;
      font-weight: bold;
      font-size: $font-medium;
    }

    .facultyContainer {
      position: relative;
      left: calc((1080px - 100vw) / 2 + 12px);
      width: calc(100vw);
      display: flex;
      overflow-x: auto;
      padding-left: calc((100vw - 1080px) / 2 - 12px);
      margin: 0 -12px;
    }
  }

  &.profileExpanded {
    .topicContainer {
      display: none;
    }
  }
}
