@import "variables";

.FacultyDetail {
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px $color-shadow;
  background-color: $color-card;
  color: $color-font;

  .bio {
    position: relative;
    display: flex;
    height: 320px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      background: linear-gradient(rgba($color-card, 0), rgba($color-card, 1));
    }

    .photo {
      width: 213px;
      background-size: cover;
      background-position: center;
    }

    .info {
      flex: 1;
      padding: 12px 18px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      .top {
        display: flex;
        align-items: flex-start;

        .basicInfo {
          display: flex;
          flex-direction: column;
          flex: 1;

          .name {
            font-size: $font-medium;
            font-weight: bold;
          }

          .organization {
            font-size: $font-small;
            margin-bottom: 16px;
          }
        }
      }

      .row {
        display: flex;
        align-items: flex-start;
        font-size: $font-small;
        margin-bottom: 8px;

        .icon {
          margin-top: 2px;
          margin-right: 4px;
        }
      }

      .paperContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .paper {
          width: 49%;
          display: flex;
          align-items: flex-start;
          font-size: $font-small;
          margin-bottom: 8px;

          .icon {
            margin-top: 2px;
            margin-right: 4px;
          }

          .paperInfo {
            .paperTitle {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .expand {
    background-color: $color-dim;
    display: flex;
    justify-content: center;
    padding: 8px;

    &:hover {
      .icon {
        color: $color-primary;
      }
    }

    .icon {
      font-size: $font-medium;
      color: $color-font;
    }
  }

  .relationContainer {
    display: flex;
    background-color: $color-dim;
    height: 760px;
  }
}
